<div class="modal" id="aboutModal">
    <div class="modal-dialog">
        <div class="modal-header">
            <h2 class="modal-title">О разработке</h2>
            <button class="modal-close">
                <img src="{{basePath}}/shared/icons/cross.svg" alt="Закрыть">
            </button>
        </div>
        <div class="modal-body">
            <p>Это проект <strong>Vadim P</strong></p>
            <p>Reddy ID: <strong>62219492522</strong></p>
            <p>Ссылка на чат: <a href="https://lnk.reddy.team/Vt6lJ0a" target="_blank">https://lnk.reddy.team/Vt6lJ0a</a></p>
        </div>
    </div>
</div>
