<aside class="sidebar" id="sidebar">
    <button class="back-button" id="sidebarToggleBtn">
        <img src="{{basePath}}/shared/icons/arrow.svg" width="24" height="24" alt="Toggle">
    </button>

    <div class="sidebar-menu">
        <a href="{{basePath}}/index.html" class="menu-item" data-module="home">
            <span>Главная</span>
            <img src="{{basePath}}/shared/icons/main_page.svg" width="18" height="18" alt="">
        </a>

        <a href="{{basePath}}/excel-reports/index.html" class="menu-item" data-module="reports">
            <span>Отчеты</span>
            <img src="{{basePath}}/shared/icons/excel_reports.svg" width="18" height="18" alt="">
        </a>

        <a href="{{basePath}}/team-info/index.html" class="menu-item" data-module="team-info">
            <span>Сотрудники</span>
            <img src="{{basePath}}/shared/icons/team_info.svg" width="18" height="18" alt="">
        </a>

        <a href="{{basePath}}/traffic-calculation/index.html" class="menu-item" data-module="traffic">
            <span>Расчет трафика</span>
            <img src="{{basePath}}/shared/icons/traffic-calculation.svg" width="18" height="18" alt="">
        </a>

        <a href="{{basePath}}/partners/index.html" class="menu-item" data-module="partners">
            <span>Партнеры</span>
            <img src="{{basePath}}/shared/icons/partners.svg" width="18" height="18" alt="">
        </a>

        <a href="{{basePath}}/documentation/index.html" class="menu-item" data-module="documentation">
            <span>Документация</span>
            <img src="{{basePath}}/shared/icons/documents.svg" width="18" height="18" alt="">
        </a>

        <a href="{{basePath}}/sync/index.html" class="menu-item" data-module="settings">
            <span>Настройки</span>
            <img src="{{basePath}}/shared/icons/sync.svg" width="18" height="18" alt="">
        </a>

        <div class="menu-separator"></div>

        <a href="{{basePath}}/admin/index.html" class="menu-item" data-module="admin-panel">
            <span>Администрирование</span>
            <img src="{{basePath}}/shared/icons/admin.svg" width="18" height="18" alt="">
            <span class="requests-badge" id="adminRequestsBadge"></span>
        </a>
    </div>

    <div class="menu-separator"></div>

    <div class="version-info">
        <span class="version-text-full">О разработке</span>
        <span class="version-number app-version" data-format="short"></span>
        <img src="{{basePath}}/shared/icons/info.svg" width="18" height="18" alt="">
    </div>
</aside>
